/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo del header */
.header {
    background: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px 0;
    text-align: center;
}

.header .logo {
    max-width: 130px; /* Tamaño máximo del logo */
}

/* Estilo del título principal */
.title {
    font-size: 2.5em;
    margin: 10px 0;
}

/* Estilo del main */
main {
    padding: 20px;
}

/* Estilo de las secciones */
.section {
    background: #fff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo de los títulos secundarios */
.title__2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #007BFF; /* Color del título */
}

/* Estilo de la lista */
.list {
    list-style: none; /* Sin viñetas */
}

.list__2 {
    margin: 10px 0;
}

.links {
    text-decoration: none; /* Sin subrayado */
    color: #007BFF; /* Color de los enlaces */
    transition: color 0.3s; /* Transición suave */
}

.links:hover {
    color: #0056b3; /* Color al pasar el ratón */
}

/* Estilo del footer */
footer {
    background: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    text-align: center;
}

footer h4 {
    margin-bottom: 10px;
}

footer ul {
    list-style: none; /* Sin viñetas */
}

footer ul li {
    margin: 5px 0;
}

/* Estilo de los enlaces en el footer */
footer a {
    color: #fff; /* Color blanco */
    text-decoration: none; /* Sin subrayado */
}

footer a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}